.row{
    display: grid;

    &--space-between-2-row{
        grid-template-columns: auto auto;
        justify-content: space-between;
    }

    &--3-column{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .Activity-card{
        padding: 20px;
        text-align: center;
        position: relative;

        &__image{
            width: 100%;
            opacity: 0.75;
            display: block;
            border-radius: 15px;
        }

        &__description{
            color: #fff;
            position: absolute;
            bottom: 20%;
            transform: translateY(-20%);
            left: 15%; 
            margin-top: -20px;
            font-weight: 600;
            font-size: 1.1rem;

            @mixin atMedium {
                font-weight: 600;
                font-size: 1.75rem;       
            }
        }

    }

}